<div layout="row" layout-align="center center">
  <div layout="row" layout-align="center center" ng-repeat="button in $ctrl.buttons" style="display:none;">
    <button class="button-as-link md-button md-primoExplore-theme md-ink-ripple custom-request-{{ button.id }}"
      type="button"
      ng-click="$ctrl.handleClick($event, button)"
      aria-label="Type"
      ><span>{{ button.label }}</span>
    </button>
    <div class="skewed-divider" ng-if="!$last" style="display:none;"></div>
  </div>
  <div>
    <span class="custom-requesa-user-loading" ng-if="$ctrl.customLoginService && $ctrl.loggedIn && !$ctrl.user && !$ctrl.userFailure">{{ $ctrl.userLoadingText }}</span>
    <span class="custom-request-user-failure" ng-if="$ctrl.customLoginService && $ctrl.userFailure">{{ $ctrl.userFailureText }}</span>
    <span class="custom-requests-empty" style="display:none" ng-if="!$ctrl.userFailure">{{ $ctrl.noButtonsText }}</span>
  </div>
</div>